<h4>What you'll learn:</h4>
<ul>
    <li>Science and psychology of health and physical education</li>
    <li>Sport, coaching, exercise science, and movement</li>
    <li>Promote wellbeing in students and communities</li>
    <li>Teach all main subjects at primary level + specialise in Health & PE</li>
    <li>Focus on adolescent learning, curriculum, and assessment at secondary level</li>
</ul>

<h4>Career opportunities:</h4>
<ul>
    <li>Generalist primary school teacher</li>
    <li>Specialist primary Health & PE teacher</li>
    <li>Secondary Health & PE teacher</li>
</ul>